<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_light"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlanMyTime"
        tools:targetApi="31" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value=" AIzaSyBK8xpNaCh54RnJoC3_Tr7Rm3LQJFLnHKY" />

        <activity
            android:name=".LandingPage"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homepage"
            android:label="Plan My Time"
            android:exported="false" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />

        <activity
            android:name=".UserSignUp"
            android:exported="false"
            />
        <activity
            android:name=".UserSignIn"
            android:exported="false" />

<!--   Timetable (slot) activities   -->
        <activity
            android:name=".MainActivity_Slot"
            android:label="Today's Timetable"
            android:exported="false" />
        <activity
            android:name=".WeekActivity_Slot"
            android:label="Plan My Time"
            android:exported="false" />
        <activity
            android:name=".Slot"
            android:exported="false" />
        <activity
            android:name=".RecyclerAdapter_Slot"
            android:exported="false" />

<!--   Project (slot) activities   -->
        <activity
            android:name=".MainActivity_Project"
            android:label="My Projects"
            android:exported="false" />
        <activity
            android:name=".WeekActivity_Project"
            android:label="Plan My Time"
            android:exported="false" />
        <activity
            android:name=".Project"
            android:exported="false" />
        <activity
            android:name=".RecyclerAdapter_Project"
            android:exported="false" />
    </application>

</manifest>